{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
<div class="rounded-0 border-start-0 border-end-0 border-bottom-0 border-top-0">
    <div class="my-3">
      <p class="display-6"><strong>Layanan</strong></p>
      <p class="text-secondary"><i class="bi bi-quote"></i> Satu hal yang saya yakini, hal yang membedakan wirausahawan yang sukses dan tidak, adalah kegigihan - Steve Jobs.</p>
    </div>
</div> 

<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
  <div class="col">
    <div class="card h-100">
      {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
      <div class="card-body">
        <div class="d-flex flex-row mb-2 justify-content-between align-items-center">
          <div>
            <h6 class="card-title"><strong>Portopolio</strong></h6>
          </div>
          <div>
            <h4>Rp0.000</h4>
          </div>
        </div>
        <p class="card-text"><small>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Di Deployment
              <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Bahasa Program Python
              <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Django Framework
              <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              BootstrapCSS/TailwindCSS
              <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Maintenance 6 bulan
              <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Diskusi
              <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
            </li>
          </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a class="btn btn-primary" href="#" role="button">Pesan sekarang</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
      <div class="card-body">
        <div class="d-flex flex-row mb-2 justify-content-between align-items-center">
          <div>
            <h6 class="card-title"><strong>Profil Perusahaan</strong></h6>
          </div>
          <div>
            <h4>Rp0.000</h4>
          </div>
        </div>
        <p class="card-text"><small>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Di Deployment
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Bahasa Program Python
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Django Framework
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            BootstrapCSS/TailwindCSS
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Maintenance 6 bulan
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Diskusi
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a class="btn btn-primary" href="#" role="button">Pesan sekarang</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
      <div class="card-body">
        <div class="d-flex flex-row mb-2 justify-content-between align-items-center">
          <div>
            <h6 class="card-title"><strong>Lainnya</strong></h6>
          </div>
          <div>
            <h4>Rp0.000</h4>
          </div>
        </div>
        <p class="card-text"><small>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</small></p>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Di Deployment
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Bahasa Program Python
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Django Framework
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            BootstrapCSS/TailwindCSS
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Maintenance 6 bulan
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Diskusi
            <span class="badge bg-primary rounded-pill"><i class="bi bi-check"></i></span>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a class="btn btn-primary" href="#" role="button">Pesan sekarang</a></small>
      </div>
    </div>
  </div>
</div>
{% endblock content %}