{% extends "base.html" %}
{% load static %}
{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
<div class="rounded-0 border-start-0 border-end-0 border-bottom-0 border-top-0">
  <div class="my-3">
    <p class="display-6"><strong>Artikel terbaru.</strong></p>
    <p class="text-secondary"><i class="bi bi-quote"></i> Tetaplah lapar, tetaplah merasa bodoh - Steve Jobs.</p>
  </div>
</div>

  <div class="row">

      {% for article in articles %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{article.images.url}}" class="card-img-top" alt="{{article.title}}">
          <div class="card-body">
            <h5><a class="text-decoration-none card-title" href="{% url 'artikel:article_detail' article.slug %}">{{article.title}}</a></h5>
            <p class="card-text">{{article.content|truncatewords:10|safe}}</p>
            <p class="card-text"><small class="text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 19">
              <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
            </svg> {{article.pub_date|timesince}} lalu</small></p>
          </div>
        </div>
      </div>
      {% endfor %}

      <nav aria-label="Page navigation example">
        {% if articles.has_other_pages %}
          <ul class="pagination justify-content-start mt-3">
            {% if articles.has_previous %}
              <li class="page-item">
                <a class="page-link"  href="?page={{ articles.previous_page_number }}">Sebelum</a>
              </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link">Sebelum</a>
            </li>
            {% endif %}
            {% for i in articles.paginator.page_range %}
              {% if articles.number == i %}
                <li class="page-item active my-auto" aria-current="page">
                  <span class="page-link">{{ i }}</span>
                </li>
              {% else %}
                <li class="page-item my-auto"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if articles.has_next %}
            <li class="page-item">
              <a class="page-link"  href="?page={{ articles.next_page_number }}">Berikut</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link">Berikut</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>

    <section id="card" class="my-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4 class="card-text px-3 py-4">Tertarik bekerjasama?</h4>
            </div>
            <div class="col">
              <div class="d-grid gap-2 d-md-flex py-4 px-3 justify-content-md-end">
                <a class="btn me-md-2" href="{% url 'projek:projek_index' %}" style="background-color: var(--bs-success-bg-subtle); color: var(--bs-success-text);" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-projector" viewBox="0 0 16 20">
                  <path d="M14 7.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM2.5 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4Zm0 2a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4Z"/>
                  <path d="M0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2 1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1H5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1 2 2 0 0 1-2-2V6Zm2-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H2Z"/>
                </svg> Lihat projek</a>
                <a class="btn" href="mailto:tanya@sumantris.com" style="background-color: var(--bs-warning-bg-subtle); color: var(--bs-warning-text);" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 13 20">
                  <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                  <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                </svg> Kirim email</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
{% endblock content %}